.container {
  background-color: #ffffff;
}

div.row{

}

.thumbnail{

}

h3 {
  margin-top: 10px;
}

.author{
  margin-top: 0;
  color: #999999;
}

div.card{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


img.card{
  height: 500;
  width: 800;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
